.container {
  display: grid;
  grid-template-columns: repeat(auto-fix, minmax(100px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 5em;
  justify-content: center;
  align-items: center;

  height: 100vh;
}
